.body {
    background: #F5F8FA;
}

/* .intro-pic {
    position: absolute;
    top: -54px;
    z-index: 1;
} */

.intro-carousel {
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 32, 96, 0.24);
    border-radius: 16px;
}

.button-category {
    background: #FFFFFF !important;
    box-shadow: 0px 16px 24px rgba(190, 190, 190, 0.24);
    border-radius: 30px !important;
    color: #002060 !important;
}

.button-category.active {
    background: #002060 !important;
    box-shadow: 0px 16px 24px rgba(190, 190, 190, 0.24);
    border-radius: 30px !important;
    color: #FFFFFF !important;
}

.button-category:hover {
    background: #002060 !important;
    box-shadow: 0px 16px 24px rgba(190, 190, 190, 0.24);
    border-radius: 30px !important;
    color: #FFFFFF !important;
}

.icon-filter {
    background: #FFFFFF !important;
    border-radius: 30px !important;
    box-shadow: 0px 16px 24px rgba(190, 190, 190, 0.16);
}

.ready-stock {
    color: #007025;
    background: #B3FFCB;
    border-radius: 4px;
}

.card-product {
    box-shadow: 0px 16px 24px rgba(190, 190, 190, 0.16);
    border-radius: 16px !important;
}

.custom-botton {
    box-shadow: 0px 16px 24px rgba(29, 51, 79, 0.24);
    border-radius: 8px;
}

button.custom-botton:focus {
    box-shadow: none !important;
}